/*
 * Itinerant (c)
 * Author: https://github.com/calmstate/Itinerant/
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 * {
   font-family: "Roboto", sans-serif;
 }
 
 #dark{
   /* Primary Colors */
   --primary-color: #2A7F4E;
   --primary-light: #396B5D;
   --primary-dark: #cdecdd;
   --primary-background: #0D0D0D;
 
   /* Neutral Colors */
   --gray-light: #2C2F33;
   --gray: #41474a; 
   --gray-dark: #23272A; 
   --white: #ECEFF1;
   --black: #0D0D0D;
 
   /* Transparency */
   --transparent-white: rgba(255, 255, 255, 0.20);
   --transparent-black: rgba(0, 0, 0, 0.60);
 
   /* App Components */
   --acc-agent-background: #202329;
   --search-input-background: var(--gray-light);
   --aci-text-background: #171a20;
   --aci-actions-background: #0d0f13;
   --act-text-button-background: #0f121a;
   --act-text-button-background-hover: #22694D;
   --act-text-button-color: #4CA374;
   --aci-text-textarea-placeholder-color: #797979;
   --fullscreen-color: #5C6366;
   --app-content-text-color: #DCE2E6;
   --app-wrap-background:            var(--primary-color);
   --app-wrap-bg-image:      url('../Dark/Assets/background.svg'); 
   --app-content-background:         var(--gray-dark);
   --app-sidebar-background:         var(--black);
   --app-sidebar-icon-color: var(--gray-light);
   --app-sidebar-border:     var(--gray);
   --app-content-input-background: #454A50;
   --app-content-input-border-color: #3f4550;
   --app-content-chat-background: #161717;
   --app-box-shadow:  rgba(0, 0, 0, 0.6) 0px 1px 1px 0px inset, 
                      rgba(0, 0, 0, 0.7) 0px 50px 100px -20px, 
                      rgba(0, 0, 0, 0.5) 0px 30px 60px -30px;
   --ascp-description-color: white;
   --app-wrap-background: #021514;
   --acc-user-background: #181818;
   --acc-user-color: white;
   --acc-agent-color: #00ffa6;
   --app-content-header-background: #0d0d0d;
   --app-content-header-color: white;
   --theme-btn-active-background: var(--primary-color);
   --theme-btn-active-color: var(--primary-dark);
   --country-selector-background: #7fcea5;
   --country-selector-header-color: #2d7b53;
   --input-background: #19261f;
   --input-placeholder-color: #2a483e;
 }

.app-wrap {
   background: var(--app-wrap-bg) var(--app-wrap-bg-image) no-repeat center center fixed;
 }
 